/* @author Beruwalage Julian
   @Description Toutes la mise en forme du côntenu du dossier horaires/
*/

/*---------Horaire TPI------------- */
.h_content, .h_content_vac {
    border: 2px solid #000;
    display: block;
    margin-bottom: 2px;
    padding: 5px;
    border-radius: 1%;
    text-align: center;
}

.h_content p {
    margin: 5px 0 5px;
    text-align: center;
}

.h_content h4 {
    margin: 5px 0 5px;
    text-align: center;
}

.h_content .glyphicon-duplicate {
    font-size: 20px;
}

.h_content_vac {
    background-color: #337ab7;
    color: #fff;
}

.h_header {
    border: 2px solid #000;
    background-color: #337ab7;
    color: #fff;
    padding: 5px;
    display: block;
    text-align: center;
    font-weight: bold;
    margin-bottom: -2px;
}

.h_header h5 {
    font-size: 16px;
}

.h_general {
    margin-left: 5%;
    margin-right: 5%;
}

.mb-2 {
    margin-bottom: 2px;
}

span:hover {
    cursor: pointer;
    color: #000;
}

span:not(.caret) {
    padding: 0 5px 0 5px;
}

.stop {
    background-color: #5cb85c;
}

#btn_add_day {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    bottom: 16px;
    right: 16px;
    position: fixed;
    z-index: 4;
    color: #fff;
    border-radius: 50%;
    min-width: 0;
    height: 56px;
    width: 56px;
    padding: 0;
    margin: 0;
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    background-color: #337ab7;
    border: 1px solid #337ab7;
    will-change: box-shadow;
    outline: none;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), color 1ms;
}

#btn_add_day span:hover {
    color: #fff;
}
#btn_add_day:hover{
    opacity: 0.9;
    transform: scale(1.2);
}

.addon_h_tpi {
    font-size: 22px !important;
    color: #000 !important;
    background-color: #fff !important;
    border: none !important;
}

.addon_h_tpi:hover {
    cursor: initial !important;
}

.h3_date, .input_date {
    display: inline-flex !important;
}

.h3_date {
    padding-right: 20px;
}

#btn_gen_h_tpi {
    margin: 5% 0 5% 42%;
}

.total_periode p {
    text-align: left;
}

/*---------Horaire cadre-------------
CSS repris de la page groupes
*/
.h_cadre_content {
    margin-top: 10px;
}

.h_cadre_content .panel {
    margin: 0 !important;
    width: 100%;
}

.grp-ref, .grp-ref-child, .grp-ref a {
    margin: 2px 2px 0px 2px;
    background-color: #fff;
    height: 35px;
    text-align: center;
    vertical-align: middle;
}

.grp-ref {
    position: absolute;
    width: 160px;
    border-radius: 2px 2px 2px 0;
}

.grp-ref-child {
    display: inline;
    width: 80px;
}

.grp-href:hover {
    text-decoration: none;
    font-size: 14px;
    color: black;
    font-weight: bold;
}

.grp-list-cla {
    overflow: auto;
    text-align: left;
    height: 60px;
}

.grp-nom-grp {
    font-size: 14px;
    font-weight: bold;
}

.titre {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.tab-horaire {
    width: 100%;
    margin-bottom: 50px;
}

.tab-horaire > tbody > tr > td {
    padding: 8px;
}

.tranche-horaire {
    border-left: 1px solid #ddd;
}

.tranche {
    border-top: 1px lightgrey dashed;
}

.basic {
    border-top: 1px lightgrey solid;
    height: 35px;
}

.Pause {
    border-top: 1px lightgrey solid;
    border-bottom: 1px lightgrey solid;
}

.td-del {
    font-weight: 0px;
    border-left: 1px lightgrey solid;
    color: #fff;
}

.sel-br {
    font-weight: normal;
}

.sel-br:hover {
    text-decoration: underline;
    font-weight: bold;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    font-weight: bold;
}

.ss-text {
    font-weight: normal;
    font-size: 13px;
}

.hover-day {
    vertical-align: top;
    padding: 8px;
    border-left: 1px lightgrey solid;
    cursor: pointer;
    text-align: center;
}

.champ-del:hover {
    background: #d9534f;
}

/* alert */
#custom-alert{
    display: none;
}

#print_h_tpi{
    display:none;
}