.nav.nav-tabs {
    border-bottom: 0;
}

.plans-container .tab-content > .tab-pane {
    margin-top: 10px;
}

.plan {
    /*overflow: scroll*/
}


.candidats-container {
    min-height: 100px;
}
#placer {
    width: 120px;
}

.sortable-used, .sortable-not-used {
    max-height: 600px;
    min-height: 600px;
    overflow-y: scroll;
}

.candidat:hover{
    cursor:pointer;
}

.candidat {
    z-index: 10;
    display: inline-block;
    margin: 5px 3px;
    padding: 2px 6px;
    font-size: 14px;
    line-height: 1.1;
    text-align: center;
    border-radius: 4px;
    font-weight: bold;
    border: 1px solid #000;
    color: #000000;
}

.pcname-container .pcname {
    display: block;
    margin: 2px 0;
    padding: 7px 0;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.1;
    text-align: center;
    border-radius: 4px;
    font-weight: bold;
    border: 1px solid;
}
.pcname.used {
    color: #3277B2;
    background-color: #ECF7FF;
    border-color: #3277B2;
}
.pcname.not-used {
    color: #B94442;
    background-color: #FFE5E6;
    border-color: #B94442;
}

.table-container {
    margin-bottom: 50px;
}

.table {
    text-align: center;
    padding: 3px;
    font-size: 8pt;
    font-weight: bold;
    color: #3277B2;
    background-color: #ECF7FF;
    border: 1px solid #3277B2;
}
.table.not-used {
    color: #B94442;
    background-color: #FFE5E6;
    border-color: #B94442;
}

.table-titre {
    display: block;
    height: 16px;
}

.table-candidats-container {
    display: block;
    width: 100%;
    height: calc(100% - 16px);
}