.navbar .form-control{
    display:inline;
    width:auto;
}
/*
#critere{
    width:100%;
    height:100px;
    background: orange;
}*/


h3.crit_gen{
	text-decoration:underline;
	color:blue;
}

.titre th{
    font-size:20pt;
}

.description{
    background: #e9e9e9;
}

.description th{
    background: #e9e9e9;
    font-size:14pt;
}


.pt3{
    background: #a4ffa4;
}

.pt2{
    background: #4dccfd;
}

.pt1{
    background: #ffe3a4;
}

.pt0{
    background: #fb8c8c;
}


.swipe {
    background-color: #7ACEF4;
  }
  
 #note{
     font-size:24pt;
     font-weight: bold;
 }
 
.ui-textinput.ui-corner-all.ui-shadow-inset.ui-textinput-text.ui-body-inherit{
    height:35px;     
 }