.form-group{
    margin-bottom:10px !important;
}

input[name="id"]{
    display:none;
}

input.error:hover, input.error, input.error:focus{
    border-color:red;
}

th{
    text-align: center !important;
}

.glyphicon{
    font-size: 15px;
    position: absolute;
    top: 25%;
}

#modif, #modif:hover{
    width:100%;
    margin-bottom:0px !important;
    cursor: pointer;
}


