.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background:lightskyblue;
}

/*scéances*/
.border-right{
    border-right: darkgray solid 2px !important;
}

.is-here{
    background-color: #e6f2ff;
}
#table-seances tbody tr:hover td, .table-hover tbody tr:hover th{
    background: white;
}

#table-seances tr:hover .is-here{
    background: #99ccff;
}

#table-seances .is-here:hover{
    background: #66b3ff !important;
}