.url > .text[disabled]{
    cursor: pointer!important;
}
.table-ma-place{
    border:1px solid black;
    font-size:10px;
    background: yellow;
    text-align:center;
}
.prof{
    background: black;
    color:white;
    text-align:center;
}

.table-candidat{
    border:1px solid black;
    font-size:10px;
    text-align:center;
}

.table-prof{
    border:1px solid black;
    font-size:10px;
    text-align:center;
    background: gray;
}


