/* 
    Created on : 29 août 2018, 08:00:09
    Author     : CP-16MID
*/


.glyphicon.glyphicon-envelope{
    font-size: 30px;
}

table a {
    color: black;
}

#submit_modif, #cancel_modif {
    width: 75px
}

.submit_notes, .submit_bulletin{
    display:none;
}