.ligne{
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    line-height: 2;
}

input[type=checkbox]{
    display: none;
}

label.convocations{
    display: block;
    font-weight: normal;
    font-size: 20px;
}

label.convocations:hover{
    Color: #337ab7;
    cursor: pointer;
}

.glyphicon-ok{
    color: #0a0;
}

.glyphicon-remove{
    color: red;
}

.color{
    font-size:16px;
}

.titre-conv{
    font-size: 20px;
}

.dropdown{
    display: inline;
    margin-left: 5px;
}

.panel-heading{
    font-size: 16px;
}

.panel-heading a{
    color: white;
}

.panel-heading a:hover{
    color: #5bc0de;
}

form button.btn{
    margin: 5px 0px 5px 0px;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    cursor: pointer;
}

.center {
    text-align : center;
}

.conf_convoc_btn{
    font-size:16px;
    cursor: pointer;
}