
.grp-ref, .grp-ref-child, .grp-ref a{
    margin: 2px 2px 0px 2px;
    background-color: white;
    height: 35px;
    text-align: center;
    vertical-align: middle;
}
.grp-ref{
    position: absolute;
    width: 160px;
    border-radius: 2px 2px 2px 0;
}

.grp-ref-child{
    display: inline;
    width: 80px;    
}

.grp-href:hover{
    text-decoration: none;
    font-size: 14px;
    color: black;
    font-weight: bold;
}


.grp-list-cla{
    overflow:auto;
    text-align: left;
    height:60px;
}

.grp-nom-grp{
    font-size: 14px;
    font-weight: bold;
}

.titre{
    font-size: 24px;
    margin-bottom:20px;
    margin-top:10px;
}
.tab-horaire{
    width: 100%;
    margin-bottom:50px;
}
.tab-horaire>tbody>tr>td{
    padding:8px;
}
.tranche-horaire{
    border-left:1px solid #ddd;
}
.tranche{
    border-top: 1px lightgrey dashed;
}
.basic{
    border-top: 1px lightgrey solid;   
    height: 35px;
}
.Pause{
    border-top: 1px lightgrey solid; 
    border-bottom: 1px lightgrey solid; 
}
.td-del{
    font-weight: 0px;
    border-left: 1px lightgrey solid;   
    color: White;
}
.sel-br{
    font-weight: normal;   
}    
.sel-br:hover{
    text-decoration: underline;
    font-weight: bold;
}
input[type="radio"]{
    display: none;
}
input[type="radio"]:checked+label {
    font-weight: bold; 
}
.ss-text{
    font-weight: normal;
    font-size: 13px;
}
.hover-day{
    vertical-align: top;
    padding: 8px;
    border-left:1px lightgrey solid; 
    cursor: pointer;
    text-align: center;
}
/*.pressed-day:hover{
    background: lightsteelblue;
}*/
.champ-del:hover{
    background: #d9534f;
}

.groupe{
    border-radius: 30px;
    border:10px solid white;
    padding-bottom: 10px;
    padding-top: 10px;
}