.border{
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px;
}


/* CSS Pour le plan */
#Plan2 .table-titre {
    display: block;
    height: 16px;
}

#Plan2 .table-candidats-container {
    display: block;
    width: 100%;
    height: calc(100% - 16px);
}

#Plan2 .table-container {
    margin-bottom: 50px;
}

#Plan2 .dys{
    background-color: yellow!important;
}

#Plan2 .table {
    text-align: center;
    padding: 3px;
    font-size: 8pt;
    font-weight: bold;
    color: #3277B2;
    background-color: #ECF7FF;
    border: 1px solid #3277B2;
}
#Plan2 .table.not-used {
    color: #B94442;
    background-color: #FFE5E6;
    border-color: #B94442;
}

#Plan2 .candidat {
    z-index: 10;
    display: inline-block;
    margin: 5px 3px;
    padding: 2px 6px;
    font-size: 14px;
    line-height: 1.1;
    text-align: center;
    border-radius: 4px;
    font-weight: bold;
    border: 1px solid #000;
    color: #000000;
}



/************* Message d'alerte en haut de page ******************************/
/*#alert{
    display:none;
}

#TestForm {
    display: inline;
}

.tab-content .container-fluid{
    border : 2px solid black;
}

.tab-content .container-fluid{
    border : 2px solid black;
}

#tab .container {
    padding:0px;
    width: 1108px;
}

.container-full {
    margin-left: 40px;
    margin-right: 40px;
}

.container-full .container-exa {
    margin-left: 5px;
    margin-right: 5px;
}*/


/****************************** Interface web ******************************/
/*** Affichage des durées ***/
/*
#Duree {
    padding-left: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#tab_duree tr td, #tab_duree tr th{
    padding-right: 40px;
    height: 34px;
    vertical-align: middle;
}
#tab_duree button {
    height: 34px;
}
#tab_duree label {
    margin: 0px;
}
#tab_duree input[type="number"] {
    max-width: 50px;
}
#td_dys,#temps_restant_dys {
    background-color: yellow;
}
*/


/*** Affichage du chrono ***/
/*#Chrono {
    padding-top: 15px;
    padding-bottom: 15px;
}
#tab_chrono {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#tab_chrono tr td{
    font-size: 24px;
    height: 34px;
    vertical-align: middle;
}
#tab_chrono label {
    margin: 0px;
}*/

#row_temps{
    height:150px;
}
/*** Affichage plan de la classe ***/
/*.table {
    border: solid 1px black;
    position: absolute;
}
.dys {
    border: solid 1px black;
    position: absolute;
    background-color: yellow;

}
.candidat {
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
    border: solid 1px black;
    padding: 2px 2px 2px 2px;
}
#nom_place {
    position: absolute;
    bottom: 0px;
    margin-bottom: 0px;
    right: 1px;
    color: gray;
}*/



/** CSS Pour le Chat **/
#chatbox {
    text-align:left;
    margin-top: 20px;
    margin-bottom:25px;
    padding:10px;
    height:350px;
    overflow: auto;
}
#msg1 {
    border: solid black 1px;
    border-radius: 5px;
    background-color: #ffffb3;
    padding: 5px;
}
#msg2 {
    border: solid black 1px;
    border-radius: 5px;
    background-color: #9dff9d;
    padding: 5px;
}
#salle {
    min-height: 40px;
}
#msg1 label, #msg2 label{
    margin: 0px;
}
#msg {
    border:1px solid grey;
    width: 64%;
}
#whatceff_info1, #whatceff_info2 {
    font-size: 12px;
}
#whatceff_info1 {
    text-align:right;
    float: right;
}
#info_salle{
    padding: 0px;
}
#info_salle label{
    margin: 0px;
}

/*** Interface des rapports ***/
#rapport {
    border:solid black 2px;
    height: 250px;
    overflow: auto;
    padding: 10px;
}

/*.event_candidats {
    width: 98%;
    height: 35px;
}
#drop_event {
    border-radius: 10px;
    border: dashed 1px black;
    padding-left: 5px;
    padding-top: 1px;
}
.objet_event {
    margin-right: 7px;
    height: 30px;
}
.event_candidats .objet_event {
    padding: 0px;
}
.remarque_text {
    display: none;
}*/


/****************************** Modal ******************************/
/*** Modal rapport ***/
/*
#modal_rapport .modal-content {
    width: 350px;
}
#modal_rapport .titre_modal {
    width: 40px;
    position: absolute;
    left: 92px;
    top: 15px;
}
#modal_rapport .modal-body p {
    font-weight: bold;
    margin-bottom: 5px;
}
#modal_rapport .modal-body {
    height: 340px;
}
#remarque_modal {
    height: 175px;
    width: 300px;
    margin-bottom: 15px;
}
#temps_modal {
    width: 50px;
}

#candidat_fin{
    margin-top: 10px;
    float: left;
}

#rapport_valider {
    margin-top: 10px;
    float: right;
}

!*** Modal fin ***!
#modal_fin .modal-content {
    width: 350px;
}
#modal_fin button {
    margin-top: 10px;
    margin-right: 10px;
}*/
