/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29 août 2018, 08:29:53
    Author     : cp-15cht
*/

#remove_salle{
    color: red;
}

.black{
    color: black;   
}

/*Couleur de la croix*/
.red{
    color: rgb(188, 50, 55);
}

.color{
    display: inline-block;
    padding: 5px;
    border-radius: 15px;
    border: black 1px solid;
    min-width: 30px;
    text-align: center;
}
.total{
    background:black;
    color:white;
}

.tab_color div.color{
    border: solid;
    border-width: 3px 3px 3px 0px ;
    text-align: center !important;
}

.tab_color div.color:first-child{
    border: solid;
    border-width: 3px 3px 3px 3px ;
    text-align: center !important;
}

.button_glyph{
    background:none;
    border:none;
    padding:0;
}

/*Permet de ne pas mettre en blanc la ligne quand on est sur un td autre que celui de la croix*/
.no_hover{
    pointer-events: none;  
}

/*Mets en blanc la ligne quand on est sur la croix */
.row_can:hover .no_hover ,
.row_can:hover ~ .no_hover{
    background-color:  white;
}

/*Permet de clic a côté de la croix */
.remove_can_exa{
    display: block;
    width: 100%;
    border: none;
    cursor: pointer;
    text-align: center;
}
.table.hover{
    background-color: red;
}