#list_exa form {
    display: inline;
}

.exa_no_def{
    color:grey;
    font-style: italic;
    white-space:nowrap;
}
.exa_def{
    white-space:nowrap;
}

#list_exa tr.head_jour, #list_exa tr.head_jour:hover{
    background-color: #e1f8ff;
}

#alert{
    display:none;
}

#loading{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background: #999;
    z-index:1000;
    opacity: .7;
    display:none;
}
#loading_img{
    position: absolute;
    top:50%;
    left:50%;
    height:100px;
    margin-left:-50px;
    margin-top:-50px;
}

.loading_td{
    text-align:center;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.tab_en-tete{
    position: fixed;
    top: 0px;
}

.en-tete{
    background-color: lightgrey;
}


/********************** Recherche candidat **************************/
.ui-autocomplete{
    background:lightgray;
    border:1px solid black;
    padding:5px;
    border-radius:5px;
    list-style: none;
    width:auto;
    display:inline-block;
}
.ui-menu-item-wrapper{
 
}

input[name="modif"]{
    display: none;
}

div[role="status"]{
    display: none;
}

/********************** Dropdown candidat **************************/

.dropdown_label{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;

    margin-left: 100%;
    top:23%;
    border: 1px solid rgba(0,0,0,.15);
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-content li{
    list-style: none;
}
.dropdown-content a {
    margin-left:-24%;
    color: black;
    display: block;
    text-decoration: none;
    padding: 3px 5px;
}

.dropbtn:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover{
    text-decoration:none;
    color: #333;
    background-color: rgba(0,0,0,.06)
}

/* Bouton de visibilité du mot de passe */
.passw-visibility-btn {
    cursor: pointer;
}

/* Classes utilitaires */
.pointer {
    cursor: pointer;
}

#selected_crt {
    position: fixed;
    top: 10vh;
    right: 0;
    width: 30vw;
}